<div class="log">
          <label for="bienvenida" class="bienvenida">Registro de productos</label>
            <input type="nombre" name="nombre" placeholder="Nombre del producto">
          
          <div class="1">
            <input type="precio" name="precio" placeholder="Precio">
          </div>
          <div class="1">
            <input type="oferta" name="oferta" placeholder="Oferta">
          </div>
        <div class="1">
            <button type="submit">Registrar producto</button>
        </div>
        <div class="2">
            <button><a href="index.hbs">Cancelar</a></button>
        </div>
</div>