<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profeco Web</title>
     <div class="pro-fe-co-buy">
          <label for="form">ProfecoBuy</label>  
        </div>
</head>
<body>
     <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Productos</a></li>
                <li><a href="">Whishlist</a></li>
                
            </ul>
        </nav>

{{{ body }}}


    
</body>
</html>