<div>
    <nav>
         <ul>
                <li><button id="btnOfer"type="button">Ofertas</a></li>
                <li><button id="btnProd" type="button">Productos</a></li>
                <li><button id="btnWish"type="button">Whishlist</a></li>
                <li><button id="btnCal"type="button">Calificaciones</a></li>
            </ul>
    </nav>
</div>